<div [ngClass]="['dialog-container',showDialog ? 'visible' : '' ]">
  <div class="centered">
    <h5>{{title}}</h5>
  </div>

 <div class="button-row">
    <button class="btn btn-success" (click)="onConfirm()">Выполнить</button>
    <button class="btn btn-danger" (click)="onCancel()">Отменить</button>
  </div>
</div>
