.history-table td.header {
    font-weight: bolder;
    text-align: center;
    background: white;
}

.history-table td {
    text-align: center;
    padding: 2px 4px;
}

.history-table td.cell-name {
    background: lightgoldenrodyellow;
}

.history-table td.cell-event {
    background: white;
}

.history-table td.cell-event_time {
    background: lightblue;
}