<table class="general-table history-table">
  <thead>
    <td *ngFor="let col of columns" [ngClass]="['header','cell-'+col.fieldName.toLowerCase(),col.class || '' ]">
      <span class="non-mobile">{{col.header}}</span>
      <span class="mobile">{{col.mob_header || col.header}}</span>
    </td>
  </thead>
  <tbody>
    <tr *ngFor="let row of visitData">
      <td *ngFor="let col of columns" [ngClass]="['cell-'+col.fieldName.toLowerCase(),col.class || '' ]">
        {{row[col.fieldName]}}
      </td>
    </tr>
  </tbody>
</table>

<div class="button-row">
  <button class="btn btn-info" (click)="getMore()">Ещё</button>
  <button class="btn btn-danger" (click)="clearHistory()">Очистить журнал</button>
</div>

<app-confirm-dialog *ngIf="showClearDialog" title="Очистить журнал посещений" (confirm)="doHistoryClear()" (cancel)="showClearDialog = false"></app-confirm-dialog>
