.navbar {
  background: lightblue;
  padding: 0px 10px;
  margin-bottom: 20px;
  display: block;
}

.navbar button {
  display: inline-block;
  font-size: 1.2em;
  /*font-family: 'Lucida Sans', Arial, sans-serif;*/
  border: none;
  /*margin-right: 10px;*/
  padding: 5px 10px;
  border-right: 1px solid white;
  color: black;
}

.navbar button.btn-info {
  background: lightblue;
}

.navbar button:first-child {
  border-left: 1px solid white;
}

.navbar button:focus {
  box-shadow: none;
  outline: none;
}

.navbar button.active {
  background: coral;
  color: white;
  box-shadow: 0 5px 10px #999;
  position: relative;
  outline: none;
}

.navbar button.active:focus {
  box-shadow: 0 5px 10px #999;
  outline: none;
}



button.hidden {
  display: none !important;
}

div.right {
  display: inline-block;
  float: right;
}

@media screen and (max-width: 480px) {
  .navbar {
    padding: 0px;
    margin-bottom: 20px;
  }

  .navbar button {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
  }

  .navbar button:first-child {
    border-left: none;
  }

  div.right {
    display: block;
    float: none;
  }
}
