<div class="navbar">
  <nav>
    <button *ngFor="let item of menuItems" (click)="onNavigate(item)"
     [ngClass]="['btn-info','clickable',isCurrentPage(item) ? 'active':'', ((currentAccessLevel | async) >= getMenuItemAccessLevel(item)) ? '' : 'hidden']">
      {{item.name}}
      </button>
      <div class="right">
        <button (click)="onLogout()" [ngClass]="['clickable','btn-default']">Выйти</button>
      </div>
  </nav>
</div>

<router-outlet></router-outlet>

