.footer-container {
    margin-top: 20px;
    font-size: 12px;
    padding: 4px 0 2px 0;
    border-top: 1px dotted lightslategrey;
    font-family: cursive;
}

.footer-text {
    position: relative;
    top: -8px;
    margin-right: 10px;
}

.footer-text i {
    font-size: 10px;
    position: relative;
    top: -5px;
}
