<div class="centered footer-container">
  <span class="footer-text">Designed by Vadim Koblov's Studio <i class="fa fa-registered"></i> 2017</span>
  <img src="./assets/images/comodo_secure_seal_76x26_transp.png" />
</div>