.app-body {
  max-width: 1200px;
  margin: auto;
}

.app-title-picture {
  max-width: 100px;
  max-height: 70px;
  padding: 10px;
}

.app-header {
  /*border-bottom: 1px solid grey;*/
  /*background-image: url('../assets/images/bg.jpg');*/
}

.app-title {
  position: absolute;
  left: 100px;
  font-size: 2em;
  top: 10px;
}

.visit-count-anchor {
  position: relative;
}

.visit-count-container {
  position: absolute;
  width: 100%;
  top: 20px;
  text-align: right;
  font-size: 0.9em;
  padding-right: 5px;
}

.current-name {
  display: block;
  padding-bottom: 5px;
}

@media screen and (max-width: 480px) {
  .app-title-picture {
    padding: 5px 10px;
    max-width: 60px;
  }

  .app-title {
    position: absolute;
    left: 70px;
    font-size: 1.5em;
    top: 0;
  }

  .visit-count-container {
    position: absolute;
    top: 30px;
    text-align: left;
    font-size: 0.9rem;
    left: 70px;
    width: inherit;
  }

  .current-name {
    display: inline-block;
    padding-bottom: 0px;
    margin-right: 10px;
  }
}
