<div class="app-body">
  <div toastContainer></div>
  <div class="app-header">
    <div style="position: relative">
      <div class="app-title">Angular Demo</div>
      <div class="visit-count-anchor">
        <div class="visit-count-container">
          <div
            [ngClass]="[
              'current-name',
              getUserName().length > 0 ? '' : 'invisible'
            ]"
          >
            Пользователь: <b>{{ getUserName() }}</b>
          </div>
          Посещений: {{ getVisitCount() }}
        </div>
      </div>
    </div>
    <img class="app-title-picture" src="./assets/images/jango-fett-logo.png" />
  </div>

  <main><router-outlet></router-outlet></main>

  <app-footer></app-footer>
</div>
