<form #calcForm="ngForm" class="hash-calc-form">
  <div class="row form-group">
    <div class="col-lg-5">
      <input
        #passInput="ngModel"
        [ngClass]="{
          'form-control': true,
          'is-invalid': passInput.invalid
        }"
        type="password"
        [(ngModel)]="password"
        (ngModelChange)="passSubject.next($event)"
        name="pass-input"
        placeholder="Введите пароль"
        [required]="true"
      />
    </div>
    <!-- <div class="col-lg-3">
      <button
        class="btn btn-info"
        (click)="onHashCalculate()"
        [disabled]="calcForm.invalid"
      >
        Рассчитать хеш
      </button>
    </div> -->
  </div>

  <div *ngIf="hash?.length > 0" class="hash">
    <div class="row form-group">
      <div class="col-lg-5">
        <input
          #hashArea
          class="form-control"
          type="text"
          readonly="true"
          [ngModel]="hash"
          name="hash"
        />
      </div>
      <div class="col-lg-3">
        <button class="btn btn-info" (click)="onCopyHash()">
          Скопировать в буфер
        </button>
      </div>
    </div>
  </div>
</form>
