/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
// @import '~bootstrap/scss/functions';
// @import '~bootstrap/scss/variables';
// @import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr';
// @import '~ngx-toastr/toastr-bs4-alert';

#toast-container > div {
  opacity:1;
}

body {
    font-family: 'Lucida Sans', Arial, sans-serif
}

.bold {
    font-weight: bolder;
}

.hidden {
    display: none;
}

.invisible {
    opacity: 0;
}

.clickable:hover {
    cursor: pointer;
}

.mobile {
    display: none;
}

.mobile.visible {
  display: initial;
}

.non-mobile {
    display: initial;
}

.general-table {
    border: 2px solid grey;
    border-collapse: collapse;
    margin: 10px auto;
}

.mobile .general-table {
    width: 90%;
    font-size: 1.2em;
}

.mobile.visible table.general-table {
  width: initial;
  font-size: 1.2em;
}

.mobile .general-table input {
  width: 95%;
  font-size: 1.2rem;
}

.mobile .general-table input:focus {
  background: lightsalmon;
}

.general-table td {
    border: 1px solid grey;
}

.non-mobile .general-table td {
    text-align: right;
    padding: 3px 5px;
}

.mobile .general-table td {
    text-align: right;
    padding: 1px 3px;
}

button.btn {
    font-size: 1em;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 4px 6px;
}

button.btn.ng-invalid {
    opacity: 0.6;
}

button.btn:hover {
    cursor: pointer;
}

// .btn-default {
//     background: lightgray;
// }

// .btn-info {
//     background: lightblue;
// }

// .btn-warning {
//   background: rgb(255, 242, 121);
// }

// .btn-success {
//     background: lightgreen;
// }

// .btn-danger {
//     background: lightcoral;
// }

.centered {
    text-align: center;
}

.link {
    text-decoration: underline;
}
.link:hover {
    cursor: pointer;
}

.dialog-container {
    display: table;
    margin: 10px auto 20px auto;
    background: lightgoldenrodyellow;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #bbb;

    transition-property: opacity;
    transition-duration: 500ms;
    transition-timing-function: linear;
    opacity: 0;
}

.dialog-container.visible {
    opacity: 1;
}


div.button-row {
    display: table;
    margin: 10px auto;
}

div.button-row button {
    margin: 10px;
}

div.spinner {
    position: fixed;
    top: 50vh;
    left: 50vw;
}

div.spinner i {
    font-size: 40px;
    color: black;
    position: relative;
    left: -20px;
    top: -20px;
}

@media screen and (max-width: 480px) {

.mobile {
    display: initial;
}

.non-mobile {
    display: none;
}

div.button-row button {
    margin: 5px;
}
}
